@commonPadding: 12px;
@commonMargin: 8px;

.common-block {
    padding: @commonPadding;
    background-color: white;
}

.common-margin-vertical {
    margin-top: @commonMargin;
    margin-bottom: @commonMargin;
}

